* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
    --font: 'Dm sans', arial, helvetica, sans-serif;
    --bg-green: #DCE9E2;
    --primary: #00453A;
    --green: #00856F;
    --gray-paragraph: #495057;
    --gray-headline: #212529;
    --shadow: 0px 6px 7px 0px #0000000d;
}
body {
    background: var(--bg-green);
    width: 48rem;
}
body, a, button {
    font: 400 1.6rem var(--font);
}
ul li {
    list-style: none;
}
.u-title {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--green);
}
/* image about and contact */
.c-image img {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 4rem;
}
/* button */
.c-button {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.c-button button.c-btn {
    all: unset;
    display: flex;
    align-items: center;
    gap: .5rem;
    background: var(--green);
    color: white;
    text-transform: uppercase;
    font: 500 1.4rem var(--font);
    padding: 1.5rem 3rem;
    border-radius: 3rem;
}
.c-button button.c-btn:hover {
    background: var(--primary);
}
.c-btn i {
    font-size: 1.8rem;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;
    padding: 2rem 3rem 1rem;
}
.c-logo {
    font-weight: 400;
    font-size: 3rem;
}
.c-logo > span {
    color: var(--primary);
    font-weight: 700;
}
/* main */
main {
    padding-top: 2rem;
}
#s-hero {
    width: 42rem;
    margin: 0 auto;
}
.c-top__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 1.5rem;
}
.c-top__text strong {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.c-top__text h1 {
    font-size: 4rem;
    color: var(--gray-headline);
}
.c-top__text p {
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--gray-paragraph);
}

/* image */
.c-hero__bottom {
    margin-top: 5rem;
}
.c-hero__bottom img {
    display: block;
    width: 80%;
    margin: 0 auto;
}
/* numbers */
.c-tableNumbers {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
    border-radius: .5rem;
    box-shadow: var(--shadow);
}
.c-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
}
.c-number strong {
    font-size: 5rem;
}
.c-number span {
    color: var(--green);
    font-size: 1.9rem;
}
/* serviços */
#s-services {
    background: white;
    padding: 7rem 0 10rem;
}
#s-services .c-top {
    text-align: center;
    padding-bottom: 3rem;
}
#s-services h2 {
    width: 31.4rem;
    margin: 2rem auto;
    font-size: 3rem;
    line-height: 3.5rem;
}
.c-services-cards {
    display: grid;
    place-content: center;
    row-gap: 2.5rem;
    margin-top: 3rem;
}
.c-card {
    width: 32.7rem;
    border: 1px solid #DCE9E2;
    border-radius: 1.5rem;
    box-shadow: var(--shadow);
    padding: 1.5rem 2rem;

    display: grid;
    row-gap: 1.7rem;
}
.c-card h3 {
    font-size: 2.3rem;
}
/* about e contato */
.s-about-us, .s-contact {
    background: white;
}
/* sobre nós */
.s-about-us {
    padding: 10rem 4rem;
}
.s-about-us .c-top h2 {
    margin-top: 1rem;
    font-size: 3.4rem;
    width: 35rem;
}
.c-content .c-text {
    text-align: justify;
    line-height: 2rem;
    font-size: 1.7rem;
    margin-top: 2rem;
    color: var(--gray-paragraph);
}

/* contato */
.s-contact {
    padding: 6rem 4rem;
}
.s-contact h2 {
    font-size: 3rem;
    width: 29.7rem;
    margin-bottom: 4rem;
}
ul {
    margin-bottom: 3rem;
}
ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}
li:first-child {
    margin-bottom: 1.5rem;
}
.s-contact > .c-button {
    justify-content: flex-start;
    margin: 3rem 0 6rem;
}
.c-image {
    width: 40rem;
}
/* footer */
footer {
    background: var(--green);
    color: white;
    padding: 4rem;
    display: grid;
    row-gap: 1rem;
}
footer .c-logo > span {
    font-weight: 700;
    color: white;
}